header[role="banner"] {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 1em;
}

header[role="banner"] .hero {
    font-size: 2em;
}

nav {
    margin-top: 2em;
    font-family: var(--heading-font);
    font-weight: lighter;
    font-size: 110%;
}

nav.related,
nav.mirrors {
    font-size: 85%;
}

nav.mirrors {
    margin-top: 5em;
}

nav.mirrors li {
    display: block;
    margin-bottom: 1em;
}
