body {
    display: grid;
    grid-template-columns: max-content auto;
    max-width: 90%;
    margin: 1rem auto;
}

header[role="banner"], main {
    padding: 1rem;
}

header[role="banner"] {
    text-align: left;
    margin: 0 auto;
    max-width: 450px;
}

header[role="banner"] .hero {
    font-size: unset;
    display: inline-block;
}

figcaption {
    font-size: smaller;
    font-style: italic;
}

header[role="banner"] .hero, .pfp {
    width: 200px;
}

nav {
    margin-top: 1em;
    font-family: var(--heading-font);
    font-weight: lighter;
}

nav ul li {
    display: block;
}

nav.related {
    font-size: 85%;
}

main {
    max-width: 65ch;
}

p {
    text-align: left;
}

@media screen and (max-width: 760px) {
    body {
        grid-template-columns: auto;
    }

    header[role="banner"] .hero {
        width: unset;
    }

    .pfp {
        display: none;
    }

    header[role="banner"] {
        text-align: center;
    }

    nav ul li {
        margin-right: 0;
    }
}
