body {
    display: grid;
    grid-template-columns: 20% auto;
    max-width: 90%;
    margin: 1rem;
}

header[role="banner"], main {
    padding: 1rem;
}

header[role="banner"] {
    text-align: left;
    margin: unset;
}

header[role="banner"] .hero {
    font-size: unset;
    /* background: none; */
}

.pfp {
    width: 200px;
    height: 200px;
    background-color: #ddd;
    margin: 1rem 0;
}

nav {
    margin-top: 1em;
    font-family: var(--heading-font);
    font-weight: lighter;
}

nav ul li {
    display: block;
}

nav.related {
    font-size: 85%;
}

main {
    max-width: 65ch;
}

p {
    text-align: left;
}
