{{ define "main" }}
<article class="single">
    <header class="title-with-meta">
        <h1>{{ .Title }}</h1>

        <!-- TODO: Remove duplication of meta info code  -->
        {{ if .Type | eq "blog" }}
            <time datetime='{{ .Date.Format "02 January 2006" }}'>
                {{ .Date.Format "02 January, 2006" }}
            </time>

            <ul class="tags">
                {{ range .Params.tags }}
                    {{ $url := printf "tags/%s" ( . | urlize) }}
                        <li><a href="{{ $url | absURL }}">{{ . }}</a></li>
                {{ end }}
            </ul>
        {{ end }}
    </header>

    <section>
        {{ partial "header-anchor" .Content }}
    </section>

    <address>
        <img src="/img/avatar.jpg" alt="Shreyas' Avatar"/>
        <p>Shreyas Minocha</p>
        <p>{{  .Site.Params.bio | markdownify }}</p>
    </address>

    {{ template "_internal/disqus.html" . }}
</article>

{{ end }}
