{{ define "main" }}
<article>
    <header>
        <h1>{{ .Title }}</h1>

        {{ if .Type | eq "blog" }}
            <time datetime='{{ .Date.Format "02 January 2006" }}'>
                {{ .Date.Format "02 January, 2006" }}
            </time>

            <ul class="tags">
                {{ range .Params.tags }}
                    {{ $url := printf "tags/%s" ( . | urlize) }}
                        <li><a href='{{ $url | absURL }}'>{{ . }}</a></li>
                {{ end }}
            </ul>
    </header>

    <section>
        {{ .Content }}
    </section>

    <address>
        <img src="/img/avatar.jpg" alt="Shreyas' Avatar"></img>
        <p>Shreyas Minocha</p>
        <p>{{  .Site.Params.bio | markdownify }}</p>
    </address>

    {{ if .Type | eq "blog" }}
        {{ partial "commento" . }}
    {{ end }}

    {{ end }}
</article>

{{ end }}
