---
import FormattedDate from "./FormattedDate.astro";

interface Props {
    date?: Date | undefined;
    tags?: string[] | undefined;
}

const { date, tags } = Astro.props;
---

{date ? <FormattedDate {date} /> : <Fragment />}

{
    tags ? (
        <ul class="tags">
            {tags.map((tag) => (
                <li>{tag}</li>
            ))}
        </ul>
    ) : (
        <Fragment />
    )
}
