---
import renderInlineMarkdown from "../util/render-inline-md.ts";

interface Props {
    src: string;
    alt?: string; // todo: make this mandatory
    caption?: string;
    link?: string;
    attribution?: string;
    attributionLink?: string;
}

const { src, alt, caption, link, attribution, attributionLink } = Astro.props;
---

<figure>
    <a href={link}>
        <img {src} alt={alt || caption || "Alt text coming soon, sorry"} />

        {
            caption || attribution ? (
                <figcaption>
                    {caption ? (
                        <p set:html={await renderInlineMarkdown(caption)} />
                    ) : (
                        <Fragment />
                    )}

                    {attribution ? (
                        <p>
                            <small class="attribution">
                                Source:
                                {attributionLink ? (
                                    <a
                                        href={attributionLink}
                                        rel="nofollow noreferrer"
                                    >
                                        {attribution}
                                    </a>
                                ) : (
                                    attribution
                                )}
                            </small>
                        </p>
                    ) : (
                        <Fragment />
                    )}
                </figcaption>
            ) : (
                <Fragment />
            )
        }
    </a>
</figure>
