---
import FooterIcon from "./FooterIcon.astro";

import GitHub from "@media/icons/github.svg?raw";
import Wikipedia from "@media/icons/wikipedia.svg?raw";
import OpenStreetMap from "@media/icons/openstreetmap.svg?raw";
import InternetArchive from "@media/icons/ia.svg?raw";
import GoogleScholar from "@media/icons/google-scholar.svg?raw";

const today = new Date();

const ICONS = [
    {
        link: "https://scholar.google.com/citations?view_op=list_works&user=45aREa4AAAAJ",
        linkTitle: "Shreyas Minocha on Google Scholar",
        iconSvg: GoogleScholar,
    },
    {
        link: "https://github.com/shreyasminocha",
        linkTitle: "@shreyasminocha on GitHub",
        iconSvg: GitHub,
    },
    {
        link: "https://en.wikipedia.org/wiki/User:ShreyasMinocha",
        linkTitle: "User:ShreyasMinocha on English Wikipedia",
        iconSvg: Wikipedia,
    },
    {
        link: "https://www.openstreetmap.org/user/श्र",
        linkTitle: "श्र on OpenStreetMap",
        iconSvg: OpenStreetMap,
    },
    {
        link: "https://archive.org/details/@eabf4fdb0f7a",
        linkTitle: "@eabf4fdb0f7a on archive.org",
        iconSvg: InternetArchive,
    },
];
---

<footer role="contentinfo">
    <ul>
        {
            ICONS.map(({ link, linkTitle, iconSvg }) => (
                <li>
                    <FooterIcon {link} {linkTitle} {iconSvg} />
                </li>
            ))
        }
    </ul>

    <p>
        &copy; 2017–{today.getFullYear()}
        <a href="/">Shreyas Minocha</a>.
        <a href="/blog/feed.xml" target="_blank" title="This blog's feed"
            >Feed</a
        >.
    </p>

    <p>
        Content under <a
            href="https://raw.githubusercontent.com/shreyasminocha/shreyasminocha.me/main/src/content/LICENSE"
            >CC BY-SA 4.0</a
        >. <a href="https://github.com/shreyasminocha/shreyasminocha.me"
            >Source code</a
        > under the <a
            href="https://raw.githubusercontent.com/shreyasminocha/shreyasminocha.me/main/LICENSE"
            >MIT License</a
        >.
    </p>
</footer>

<style>
    footer {
        text-align: center;
        margin: 5em 0 2.5em;
        font-size: smaller;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    li {
        display: inline;
        margin-right: 1em;
    }

    li:last-child {
        margin-right: 0;
    }

    li :global(a) {
        text-decoration: none;
        content: "";
        background-size: cover;
    }

    li :global(a svg) {
        width: 27px;
        color: var(--body-color);
    }
</style>
