---
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>{title}</title>

    <meta name="author" content="Shreyas Minocha" />
    <meta name="description" content={description} />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="theme-color" content="#2966A3" />

    <!-- todo: opengraph -->

    <!-- todo: link canonical -->

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="manifest" href="/manifest.json" />
</head>
