---
const LINKS = {
    blog: "/blog",
    contact: "/contact",
    // cv: "/cv/cv.pdf",
    // projects: "#",
    resources: "/resources",
    setup: "/uses",
    friends: "/friends",
    misc: "/miscellaneous",
};
---

<nav>
    <ul>
        {
            Object.entries(LINKS).map(([name, path]) => (
                <li>
                    <a href={path}>{name}</a>
                </li>
            ))
        }
    </ul>
</nav>

<style>
    nav {
        margin-top: 1em;
        font-family: var(--heading-font);
        font-weight: lighter;
    }

    li {
        display: block;
    }

    a {
        text-decoration: none;
    }

    @media print, screen and (max-width: 760px) {
        nav ul li {
            margin-right: 0;
        }
    }
</style>
