<footer class='site-footer'>
	<div class='inner'>
		<section class='footer-social' style='margin-bottom: 1em;'>
			<a href='//github.com/{{ .Site.Params.github }}' target='_blank' title='GitHub'>
				<span class='icon-github'></span>
				<span class='hidden'>GitHub</span>
			</a>

			<a href='//stackoverflow.com/users/{{ .Site.Params.stackoverflow }}' target='_blank' title='Stack Overflow'>
				<span class='icon-stackoverflow'></span>
				<span class='hidden'>Stack Overflow</span>
			</a>

			<a href='mailto:{{ .Site.Params.email }}' target='_blank' title='E-mail'>
				<span class='icon-envelope'></span>
				<span class='hidden'>E-mail</span>
			</a>

			<a href='{{ .RSSLink }}' target='_blank' title='RSS'>
				<span class='icon-rss'></span>
				<span class='hidden'>RSS</span>
			</a>
		</section>

		<section class='copyright'>
			&copy; {{ now.Format '2006' }}
			<a href='/'>Shreyas Minocha</a>. All rights reserved.
		</section>
	</div>
</footer>
