<head>
    <meta charset='utf-8'>
    <meta http-equiv='x-ua-compatible' content='ie=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <meta name='HandheldFriendly' content='True'>
    <meta name='MobileOptimized' content='320'>

    <title>{{ .Title }}{{ if not .IsHome }} &middot; {{ .Site.Title }}{{ end }}</title>

    <meta name='author' content='Shreyas Minocha'>
    <meta name='description' content='{{ .Site.Params.description }}'>

    {{ if .RSSLink }}
    <link href='{{ .RSSLink }}' rel='feed' type='application/rss+xml' title='{{ .Site.Title }}'/>
    {{ end }}

    <link rel='shortcut icon' href='/favicon.ico'>
    <link rel='stylesheet' href='/css/normalize.css'>
    <link rel='stylesheet' href='/css/fonts.css'>
    <link rel='stylesheet' href='/css/screen.css'>
    <link rel='stylesheet' href='/css/github.css'>

    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'>
    <link rel='icon' type='image/x-icon' href='/favicon.ico'>

    <script src='/js/highlight.min.js'></script>
    <script src='/js/highlightjs-line-numbers.min.js'></script>

    <script>
        hljs.initHighlightingOnLoad();
        hljs.initLineNumbersOnLoad();
    </script>

    <script>
        !function(e,t,n,i,s,a,c){e[n]=e[n]||function(){(e[n].q=e[n].q||[]).push(arguments)},a=t.createElement(i),c=t.getElementsByTagName(i)[0],a.async=!0,a.src='/js/ga.js',c.parentNode.insertBefore(a,c)}(window,document,'galite','script')

        galite('create', '{{ .Site.Params.googleAnalytics }}', 'auto');
        galite('send', 'pageview');
    </script>
</head>
