<script src="{{ "js/smooth-scroll.min.js" | absURL }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
<script src="/js/highlightjs-line-numbers.min.js"></script>
{{ range .Site.Params.customJS }}
<link rel="stylesheet" href="{{ . | absURL }}">
{{ end }}

<script>
    smoothScroll.init({
        speed: 800,
        easing: 'easeInOutCubic',
        updateURL: false,
        offset: 125,
    });
</script>
<script>hljs.initHighlightingOnLoad();</script>
<script>hljs.initLineNumbersOnLoad();</script>

{{ template "_internal/google_analytics.html" . }}
