{{ define "header" }}
<!-- No header -->
{{ end }}

{{ define "main" }}
<img src="/img/human.svg" alt="Side profile of a brown-skinned human wearing a blue jacket and turquoise pants with black shoes." class="human" height="380">

<div class="text">
    <h1>You seem to have lost your way, traveller.</h1>

    <p>The page you were looking for either disappeared or never existed. Keep calm, it's probably not your fault. Want to go <a href="/">home</a>?</p>
</div>
{{ end }}

{{ define "footer" }}
<footer style="margin: 2em 0;">
    <small>
        Human cartoon from <a href="https://www.humaaans.com" rel="noreferrer nofollower">Humaaans</a> by <a href="https://twitter.com/pablostanley" rel="noreferrer nofollower">Pablo Stanley</a>. Used under CC BY 4.0.
    </small>
</footer>
{{ end }}
