{{ define "custom-stylesheets" }}
<link rel="stylesheet" href="/css/index.css">
{{ end }}

{{ define "header" }}
<header role="banner">
    {{ with .Site.Params.title }}
    <a href="{{ $.Site.BaseURL }}" class="hero">{{ . | markdownify }}</a>
    {{ end }}

    <nav>
        <ul>
            <li><a href="/">/</a></li>
            <li><a href="/about">/about</a></li>
            <li><a href="/blog">/blog</a></li>
            <li><a href="/contact">/contact</a></li>
            <li><a href="/pgp">/pgp</a></li>
            <li><a href="/miscellaneous">/miscellaneous</a></li>
            <li><a href="/$">/$</a></li>
        </ul>
    </nav>
    <nav class="subdomains">
        <ul>
            <li><a href="https://refrf.shreyasminocha.me">refrf.</a></li>
            <li><a href="https://wiki.shreyasminocha.me">wiki.</a></li>
            <li><a href="https://uni.shreyasminocha.me">uni.</a></li>
            <li><a href="https://git.shr.cx">git.shr.cx</a></li>
            <li><a href="https://bzin.ga">bzin.ga</a></li>
        </ul>
    </nav>
    <nav class="mirrors">
        <ul>
            <li><a href="https://shreyas32dc6tvtj.onion">shreyas32dc6tvtj.onion</a></li>
        </ul>
    </nav>
</header>
{{ end }}

{{ define "footer" }}
<!-- No footer -->
{{ end }}
