---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { SITE_TITLE } from "../consts.ts";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <Head title={`${title} · ${SITE_TITLE}`} />

    <body>
        <Header />
        <slot />
        <Footer />
    </body>
</html>
