---
import Head from "@components/Head.astro";
import Hero from "@components/Hero.astro";
import Figure from "@components/Figure.astro";
import Nav from "@components/Nav.astro";

import { SITE_TITLE } from "@src/consts.ts";

interface Props {
    frontmatter: { title?: string; description: string };
}

const title = Astro.props.frontmatter?.title || SITE_TITLE;
const { description } = Astro.props.frontmatter;
---

<html lang="en">
    <Head {title} {description} />

    <body>
        <div class="container">
            <header role="banner">
                <Hero width={200} />

                <Figure
                    src="/img/cmc.webp"
                    alt="A selfie of me in front of a neon 'Crypto means Cryptography' sign"
                    width={200}
                    height={150}
                    caption="DEF CON 30, Las Vegas, US"
                />

                <Nav />
            </header>

            <main>
                <slot />
            </main>
        </div>
    </body>
</html>

<style>
    /* precedence issue with style.css. todo: why isn't this scoped? */
    html body {
        max-width: 90%;
        margin: 1rem auto;
    }

    .container {
        display: grid;
        grid-template-columns: max-content auto;
    }

    header[role="banner"],
    main {
        padding: 1rem;
    }

    header[role="banner"] {
        text-align: left;
        margin: 0 auto;
        max-width: 450px;
    }

    header[role="banner"] :global(figure) {
        width: 200px;
    }

    header[role="banner"] :global(figure figcaption p) {
        font-size: smaller;
        text-align: left !important;
    }

    main {
        max-width: 70ch;
    }

    p {
        text-align: left;
    }

    :global(a.heading-anchor) {
        display: none;
    }

    @media print, screen and (max-width: 760px) {
        .container {
            grid-template-columns: auto;
        }

        header[role="banner"] {
            text-align: center;
        }

        header[role="banner"] :global(figure) {
            display: none;
        }

        main {
            max-width: unset;
        }
    }
</style>
