---
import Head from "@components/Head.astro";
import Hero from "@components/Hero.astro";
import Figure from "@components/Figure.astro";
import Nav from "@components/Nav.astro";

import { SITE_TITLE } from "@src/consts.ts";

interface Props {
    frontmatter: { title?: string; description: string };
}

const title = Astro.props.frontmatter?.title || SITE_TITLE;
const { description } = Astro.props.frontmatter;
---

<html lang="en">
    <Head {title} {description} />

    <body>
        <div class="container">
            <header role="banner">
                <Hero width={200} />

                <Figure
                    src="/img/cmc.webp"
                    alt="A selfie of me in front of a neon 'Crypto means Cryptography' sign"
                    width={200}
                    height={150}
                    caption="DEF CON 30, Las Vegas, US"
                />

                <Nav />
            </header>

            <main>
                <slot />
            </main>
        </div>
    </body>
</html>
