---
import Base from "./Base.astro";
import PageSummary from "@components/PageSummary.astro";

interface Props {
    frontmatter?: { title: string };
    title?: string;
    showAuthor?: boolean;
    date?: Date | undefined;
    tags?: string[] | undefined;
}

const title = Astro.props.frontmatter?.title || Astro.props.title || "Untitled";

const { showAuthor, date, tags } = Astro.props;
---

<Base {title}>
    <article class="single">
        <PageSummary {title} {date} {tags} level={1} />

        <main>
            <slot />
        </main>

        {
            showAuthor && (
                <address>
                    <img src="/img/avatar.svg" alt="Shreyas' Avatar" />
                    <p>Shreyas Minocha</p>
                </address>
            )
        }
    </article>
</Base>

<style>
    address {
        text-align: center;
        margin: 4em 0;
        font-style: italic;
    }

    address img {
        width: 3em;
        border-radius: 50%;
        margin-bottom: 1em;
    }

    address p {
        margin: 0;
    }
</style>
